html{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'gr', sans-serif;
}
a{
  outline: 0;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.home{
  background: #f0ece9;
  color: #67615c;
  top:0;
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  position: relative;
  z-index: 1000;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  box-shadow: 0px 0px 30px rgba(0,0,0,0.5);
}
.intro{
  position: absolute;
  top:50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
  max-width: 900px;
}
.intro img,
.view-wrapper img{
  position: relative;
  border-radius: 100%;
  border: solid 5px #fff;
  width: 120px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.intro img{display: none;}
.intro h1{
  position: relative;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2em;
  margin: 5px 2px;
}
.intro h2{
  position: relative;
  text-transform: uppercase;
  font-size: 1.2em;
  margin:5px 2px;
}
.intro h3{
  position: relative;
  font-weight: 300;
  font-size: .9em;
  margin:5px 2px;
}

.arrow{
  position:absolute;
  width:30px;
  bottom:10px;
  left:50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  transform: translate(-50%);
  -webkit-animation: myArrow 1s infinite;
  -moz-animation: myArrow 1s infinite;
  -ms-animation: myArrow 1s infinite;
  -o-animation: myArrow 1s infinite;
  animation: myArrow 1s infinite;
  display: none;
}
.arrow2{
  position:absolute;
  width:30px;
  bottom:12px;
  left:50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  transform: translate(-50%);
  -webkit-animation: myArrow2 1s infinite;
  -moz-animation: myArrow2 1s infinite;
  -ms-animation: myArrow2 1s infinite;
  -o-animation: myArrow2 1s infinite;
  animation: myArrow2 1s infinite;
  display: none;
}
.loader{
  position: fixed;
  z-index: 1999;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: #f0ece9;
}
.loader img{
  position: fixed;
  width: 48px;
  height: 48px;
  top:50%;
  left: 50%;
  margin-left: -24px;
  margin-top: -24px;
  text-align: center;
  z-index: 2000;
  -webkit-animation: loader 1s infinite linear;
  -moz-animation: loader 1s infinite linear;
  -ms-animation: loader 1s infinite linear;
  -o-animation: loader 1s infinite linear;
  animation: loader 1s infinite linear;
  opacity: 0.6;
}
.two
{
 position:absolute;
 z-index: 200;
 min-height: 50vh;
 height: 50%;
 width: 100vw;
 top:50%;
 overflow: hidden;
 background: #f0ece9;
 }
.two-segment{
  float: none;
  width: 100vw;
  height: 12.5vh;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px 10px;
  line-height: 12.5vh;
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  text-transform: uppercase;
  opacity: 1;
}
a.two-segment:hover {
  opacity: 0.3;
  color: #000;
}
.about{
  background: #ceb640;
  background: -moz-linear-gradient(45deg,  #ceb640 0%, #76aeae 100%);
  background: -webkit-linear-gradient(45deg,  #ceb640 0%,#76aeae 100%);
  background: linear-gradient(45deg,  #ceb640 0%,#76aeae 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ceb640', endColorstr='#76aeae',GradientType=1 );
}
.about a{
  color: #8DB091;
}
.blog{
  background: #942068;
  background: -moz-linear-gradient(45deg,  #942068 0%, #cd5b52 100%);
  background: -webkit-linear-gradient(45deg,  #942068 0%,#cd5b52 100%);
  background: linear-gradient(45deg,  #942068 0%,#cd5b52 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#942068', endColorstr='#cd5b52',GradientType=1 );
}
.blog a{
  color: #AE6380;
}
.contact{
  background: #0092af;
  background: -moz-linear-gradient(45deg,  #0092af 0%, #a16cd7 100%);
  background: -webkit-linear-gradient(45deg,  #0092af 0%,#a16cd7 100%);
  background: linear-gradient(45deg,  #0092af 0%,#a16cd7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0092af', endColorstr='#a16cd7',GradientType=1 );
}
.citrus{
  background: #edbf4b;
  background: -moz-linear-gradient(45deg,  #edbf4b 0%, #e97035 100%);
  background: -webkit-linear-gradient(45deg,  #edbf4b 0%,#e97035 100%);
  background: linear-gradient(45deg,  #edbf4b 0%,#e97035 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edbf4b', endColorstr='#e97035',GradientType=1 );
}
#view{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1500;
  display: none;
}
.view-wrapper{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: auto;
  text-align: center;
}
.view-wrapper h1{
  color: #fff;
  font-size: 2em;
  font-family: 'gb', sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0,0,0,.2);
}
.view-wrapper p{
  text-align: justify;
  padding: 20px;
}
.view-content{
  width: 90%;
  margin: auto;
  position: relative;
  max-width: 900px;
  background: #F0ECE9;
  color: #67615C;
  box-shadow: 0 0 3px rgba(0,0,0,.2);
}
a.closer{
  position: absolute;
  right: 20px;
  top: 20px;
  width: 40px;
}
a.closer img{
  width: 100%;
  border: none;
}
ul.blog-list{
  list-style: none;
  padding: 0;
  margin: 0;
}
.blog-list-item{
  display: block;
  padding: 10px 20px;
  text-align: left;
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.blog-list li{
  opacity: 1;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.blog-list li:hover{
  opacity: 0.9;
}
.blog-list-item h3{
  color: #AB385F;
}
.blog-content{
  text-align: left;
  padding: 20px;
  margin-bottom: 20px;
}
.blog-content p.blog-date{
  font-family: 'gi', sans-serif;
  text-align: right;
  border-bottom: 1px solid rgba(0,0,0,.3);
  margin-bottom: 10px;
}
.blog-content p{
  margin:0;
  padding: 5px;
}
.blog-content code{
  background: #ddd;
  padding: 2px 5px;
  border-radius: 5px;
  color: #000;
  display: inline-block;
}
/* Animations */
@-webkit-keyframes myArrow {
    0% {bottom: 10px;}
    50% {bottom: 20px;}
    100% {bottom: 10px;}
}
@-moz-keyframes myArrow {
    0% {bottom: 10px;}
    50% {bottom: 20px;}
    100% {bottom: 10px;}
}
@-ms-keyframes myArrow {
    0% {bottom: 10px;}
    50% {bottom: 20px;}
    100% {bottom: 10px;}
}
@-o-keyframes myArrow {
    0% {bottom: 10px;}
    50% {bottom: 20px;}
    100% {bottom: 10px;}
}
@keyframes myArrow {
    0% {bottom: 10px;}
    50% {bottom: 20px;}
    100% {bottom: 10px;}
}
@-webkit-keyframes myArrow2 {
    0% {bottom: 10px; opacity:0;}
    50% {bottom: 30px; opacity: 0.7;}
    100% {bottom: 10px; opacity: 0;}
}
@-moz-keyframes myArrow2 {
    0% {bottom: 10px; opacity:0;}
    50% {bottom: 30px; opacity: 0.7;}
    100% {bottom: 10px; opacity: 0;}
}
@-ms-keyframes myArrow2 {
    0% {bottom: 10px; opacity:0;}
    50% {bottom: 30px; opacity: 0.7;}
    100% {bottom: 10px; opacity: 0;}
}
@-o-keyframes myArrow2 {
    0% {bottom: 10px; opacity:0;}
    50% {bottom: 30px; opacity: 0.7;}
    100% {bottom: 10px; opacity: 0;}
}
@keyframes myArrow2 {
    0% {bottom: 10px; opacity:0;}
    50% {bottom: 30px; opacity: 0.7;}
    100% {bottom: 10px; opacity: 0;}
}
@-webkit-keyframes loader {
    0% {-webkit-transform: rotate(0deg)}
    100% {-webkit-transform: rotate(360deg)}

}
@-moz-keyframes loader {
    0% {-moz-transform: rotate(0deg)}
    100% {-moz-transform: rotate(360deg)}

}
@-ms-keyframes loader {
    0% {-ms-transform: rotate(0deg)}
    100% {-ms-transform: rotate(360deg)}

}
@-o-keyframes loader {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}

}
@keyframes loader {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}

}

@media screen and (min-width: 899px) {
  .two-segment{
    float:left;
    width: 25vw;
    height: 100vh;
    top: 75%;
    line-height: 25vh;
  }
  .two{
    top: 75%;
    height: 25%;
    min-height: 25vh;
  }
}
@media screen and (min-width: 499px) {
  .intro{
    text-align:right;
  }
  .intro img,
  .view-wrapper img{
    width: 150px;
    border: solid 10px #fff;
  }
  .intro h1{
    font-size: 2.5em;
  }
  .intro h2{
    font-size: 1.6em;
  }
  .intro h3{
    font-size: 1.2em;
  }
  .arrow, .arrow2{
    width:50px;
  }
}

@media screen and (max-height: 420px) {
  .arrow, .arrow2{
    left: 20px;
    margin-left: none;
  }
}
