html {
    min-height: 100%;
}
body {
    background: #fdfdfd url(../images/bg.png);
    font-family: 'OpenSansRegular', sans-serif;
    color: #555;
    padding:0;
    margin:0;

}
.top {
    padding: 20px;
    position:absolute;
    top:0;
    left:0;
    width:calc( 100% - 40px);
    z-index:200;
    transition: .3s all ease-in-out;
}
.landing{
    position:relative;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:200;
    margin-bottom:calc(100% - 120px);
}
.landing a img{
  position:relative;
  height:150px;
  width:150px;
  left:50%;
  margin-left:-75px;
  margin-top:15%;
}
.arrow{
  position:absolute;
  width:50px;
  bottom:10px;
  left:50%;
  margin-left:-25px;
  -webkit-animation: myArrow 1s infinite;
  -moz-animation: myArrow 1s infinite;
  -ms-animation: myArrow 1s infinite;
  -o-animation: myArrow 1s infinite;
  animation: myArrow 1s infinite;
}
@-webkit-keyframes myArrow {
    0% {bottom: 10px;}
    50% {bottom: 20px;}
    100% {bottom: 10px;}
}
@-moz-keyframes myArrow {
    0% {bottom: 10px;}
    50% {bottom: 20px;}
    100% {bottom: 10px;}
}
@-ms-keyframes myArrow {
    0% {bottom: 10px;}
    50% {bottom: 20px;}
    100% {bottom: 10px;}
}
@-o-keyframes myArrow {
    0% {bottom: 10px;}
    50% {bottom: 20px;}
    100% {bottom: 10px;}
}
@keyframes myArrow {
    0% {bottom: 10px;}
    50% {bottom: 20px;}
    100% {bottom: 10px;}
}

.landing-text1{
  position:relative;
  color: #666;
  font-family: 'OpenSansLight', sans-serif;
  text-align:center;
  font-size: 1.4em;
}
.landing-text2{
  position:relative;
  color: #777;
  font-family: 'OpenSansLight', sans-serif;
  text-align:center;
  font-size: 1em;
}
#logo{
    width: 200px;
    left:50%;
    margin-left: -100px;
    position:absolute;
    top:20px;
    transition: .3s all ease-in-out;
}
.wrapper {
    position: absolute;
    z-index:100;
    box-sizing: border-box;
    padding:20px;
    min-width: 100%;
}
#slide{
    background: url('../images/slide.jpg') 0 60%;
    position:relative;
    background-size: cover;
    min-width:100%;
    min-height:300px;
    top:120px;
    font-family: 'OpenSansLight',sans-serif;
    font-size: 200%;
    text-align:center;
    line-height:7;
    color: #fdfdfd;
}
.content {
    margin-bottom: 30px;
    background: #fdfdfd;
    padding:20px 40px;
    line-height: 1.5;
    font-size:16px;
    text-align: justify;
    box-shadow: 0 0 1px #ddd;

}
.content img{
  max-width:100%;
  margin-bottom: -50px;
}
.post-details{
  float:left;

}
.wrapper ul#menu{
    list-style:none;
    margin:0px auto;
    padding:0;
    width:100%;
    max-width: 800px;
    text-align:center;
}
.wrapper ul#menu li{
    float:left;
    width:100%;
    margin: 0px 10px 10px 10px;
    opacity:1;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}
.wrapper ul#menu li:hover{
  opacity: .8;

}
.wrapper ul#menu li a{
    text-decoration:none;
    color: #555;
    font-family: 'OpenSansLight',sans-serif;
    text-align:left;
}
.wrapper ul#menu li div.image{
    float:right;
    margin: -20px -40px 20px -40px;
    height:190px;
    overflow:hidden;
}

#disqus_thread{
    box-sizing: border-box;
    background: #fdfdfd;
    padding:20px;
    width:100%;
    max-width:800px;
    box-shadow: 0 0 1px #ddd;
}
.author{
  display:block;
  box-sizing: border-box;
  margin-bottom: 10px;
  float:right;
  text-align:right;
  line-height:1.5;

}
.author img{
  width:50px;
  float:left;
  margin-right:10px;
  border: solid #ddd 2px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}

/* Media Queries */

@media only screen and (max-width:520px), only screen and (max-device-width: 520px) {
.wrapper ul#menu{
   margin:0;
   padding:0;
}
.wrapper ul#menu li{
    float:left;
    box-sizing: border-box;
    width:100%;
    height:auto;
    margin: 0px 0px 10px 0px;
    font-size:100%;
}
.wrapper ul#menu li div.image{
    height:auto;

}
.wrapper ul#menu li div.image img{
    width: 100%;
}
div.wrapper{
  width:100%;
}
div.content{
  font-size:95%;
  text-align:left;
}
div.author{
  width:100%;
  box-sizing: border-box;
  margin:0;
  font-size:70%;
  padding:10px 5px;
}
div.author img{
  text-align:center;
}
#slide{
  display:none;
}
}
